<%- include("partials/header.ejs") %> <% for(let i = 0; i < posts.length; i++) {
%> <% title = posts[i].title; summary = posts[i].brief; fullcontent =
posts[i].content; %>

<h1><%=title %></h1>
<h6><em><%=summary%></em></h6>
<hr />
<p><%=fullcontent%></p>
<form action="/edit" method="POST">
  <input type="hidden" name="title" value="<%= title %>" />
  <input class="btn btn-primary" name="edit" type="submit" value="Edit" />
</form>

<% } %> <%- include("partials/footer.ejs") %>
